.seats__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.seats__header{
  position: absolute;
  top: 0;
  left: 0;
  color: #ababab;
  font-size: 16px;
  margin: 0.4em
}

.form {
  text-align: center;
}

.form__container--input {
  width: 100%;
  margin: 1em;
}

.input {
  border: 1px solid #000000;
  background-color: transparent;
  padding: 0.5em;
}

.input--submit {
  width: 100%;
  border: 2px solid #000000;
  background-color: transparent;
  padding: 1em 0.5em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.input--submit:hover {
  background-color: #f4f4f4;
}

.grid {
  display: grid;
  max-width: 453px;
  margin: 1em;

  grid-template-columns: repeat(9,1fr); 
  grid-template-rows: repeat(14,1fr);            ; 
  grid-gap: 0.24em; 
  grid-template-areas: 
    "s014 s114 s214 s314 s414 s514 s614 s714 s814 s914"
    "s013 s113 s213 s313 s413 s513 s613 s713 s813 s913"
    "s012 s112 s212 s312 s412 s512 s612 s712 s812 s912"
    "s011 s111 s211 s311 s411 s511 s611 s711 s811 s911"
    "s010 s110 s210 s310 s410 s510 s610 s710 s810 s910"
    "s09  s19  s29  s39  s49  s59  s69  s79  s89  s99"
    "s08  s18  s28  s38  s48  s58  s68  s78  s88  s98"
    "s07  s17  s27  s37  s47  s57  s67  s77  s87  s97"
    "s06  s16  s26  s36  s46  s56  s66  s76  s86  s96"
    "s05  s15  s25  s35  s45  s55  s65  s75  s85  s95"
    "s04  s14  s24  s34  s44  s54  s64  s74  s84  s94"
    "s03  s13  s23  s33  s43  s53  s63  s73  s83  s93"
    "s02  s12  s22  s32  s42  s52  s62  s72  s82  s92"
    "s01  s11  s21  s31  s41  s51  s61  s71  s81  s91"
    "s00  s10  s20  s30  s40  s50  s60  s70  s80  s90"; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin: 2em;
  text-align: center;
  display: flex;
  align-items: center;
}

.form--reserve {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.legend {
  float: left;
  margin: 1em;
}

.input--reserve {
  font-size: 16px;
  width: 12em;
  height: 4em;
  margin: 1em;
}


.seats__grid__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.seats {
  height: 100vh;
}

.seat--chosen 
{
background-color: deeppink;
}

.seat--taken {
  background-color: coral;
}

.seat {
  width: 2.4em;
  height: 2.4em;
  border: 1px solid black;
  cursor: pointer;
}

.summary {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.summary__list {
  margin: 0.5em;
  border: 2px solid black;
  padding: 2.4em;
  transition: 0.2s ease-in-out;
}

.summary__list:hover {
  -webkit-box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.05); 
  box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.05);
}

.summary__header {
  font-weight: 600;
}

.summary__list__item {
  display: flex;
  flex-direction: column;
  margin: 2em ;
}

h1,h2 {
  margin: 0.4em;
}

.summary__list__item--id {
width: 100%;
margin: 0.4em 0;
font-weight: 600;
color: rgb(135, 135, 135);
}