.seats__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form {
  text-align: center;
}

.form__container--input {
  width: 100%;
  margin: 1em;
}

.input {
  border: 1px solid #000000;
  background-color: transparent;
  padding: 0.5em;
}

.input--submit {
  width: 100%;
  border: 2px solid #000000;
  background-color: transparent;
  padding: 1em 0.5em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.input--submit:hover {
  background-color: #f4f4f4;
}

.seats__grid--left {
  max-width: 453px;
  margin: 1em;
  display: grid;
  min-width: 0; min-height: 0;
  grid-template-columns: repeat(9,1fr); 
  grid-template-rows: repeat(14,1fr);            ; 
  grid-gap: 0.2em; 
  grid-template-areas: 
    "seat--0-14 seat--1-14 seat--2-14 seat--3-14 seat--4-14 seat--5-14 seat--6-14 seat--7-14 seat--8-14 seat--9-14"
    "seat--0-13 seat--1-13 seat--2-13 seat--3-13 seat--4-13 seat--5-13 seat--6-13 seat--7-13 seat--8-13 seat--9-13"
    "seat--0-12 seat--1-12 seat--2-12 seat--3-12 seat--4-12 seat--5-12 seat--6-12 seat--7-12 seat--8-12 seat--9-12"
    "seat--0-11 seat--1-11 seat--2-11 seat--3-11 seat--4-11 seat--5-11 seat--6-11 seat--7-11 seat--8-11 seat--9-11"
    "seat--0-10 seat--1-10 seat--2-10 seat--3-10 seat--4-10 seat--5-10 seat--6-10 seat--7-10 seat--8-10 seat--9-10"
    "seat--0-9  seat--1-9  seat--2-9  seat--3-9  seat--4-9  seat--5-9  seat--6-9  seat--7-9  seat--8-9  seat--9-9"
    "seat--0-8  seat--1-8  seat--2-8  seat--3-8  seat--4-8  seat--5-8  seat--6-8  seat--7-8  seat--8-8  seat--9-8"
    "seat--0-7  seat--1-7  seat--2-7  seat--3-7  seat--4-7  seat--5-7  seat--6-7  seat--7-7  seat--8-7  seat--9-7"
    "seat--0-6  seat--1-6  seat--2-6  seat--3-6  seat--4-6  seat--5-6  seat--6-6  seat--7-6  seat--8-6  seat--9-6"
    "seat--0-5  seat--1-5  seat--2-5  seat--3-5  seat--4-5  seat--5-5  seat--6-5  seat--7-5  seat--8-5  seat--9-5"
    "seat--0-4  seat--1-4  seat--2-4  seat--3-4  seat--4-4  seat--5-4  seat--6-4  seat--7-4  seat--8-4  seat--9-4"
    "seat--0-3  seat--1-3  seat--2-3  seat--3-3  seat--4-3  seat--5-3  seat--6-3  seat--7-3  seat--8-3  seat--9-3"
    "seat--0-2  seat--1-2  seat--2-2  seat--3-2  seat--4-2  seat--5-2  seat--6-2  seat--7-2  seat--8-2  seat--9-2"
    "seat--0-1  seat--1-1  seat--2-1  seat--3-1  seat--4-1  seat--5-1  seat--6-1  seat--7-1  seat--8-1  seat--9-1"
    "seat--0-0  seat--1-0  seat--2-0  seat--3-0  seat--4-0  seat--5-0  seat--6-0  seat--7-0  seat--8-0  seat--9-0"; 
}

footer {
  position: absolute;
  bottom: 0;
}

.seats {
  height: 100vh;
}

.seat--taken {
  background-color: coral;
}

.seat {
  width: 3em;
  height: 3em;
  border: 1px solid black;
  cursor: pointer;
}